body {
    background: linear-gradient(to top, #1C1C1C, #111111); 
    color: white;
}

.img-avatar {

    width: 10%;
    height: 10%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.img-photos {
    border: solid 2px black;
    padding: 2px 2px 2px 2px;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    margin: 0 10px 0 10px;
}

.shaded-input
{
    background-color: #1C1C1C;
    border-radius: 0 30px 0 30px;
    border: hidden;
    width: 300px;
    height: 150px;
    color: white;
    position: flex;
    content: '';


}

.button-submit
{
    font-family: Helvetica;
    border: hidden;
    background-color: #0d0d0d;
    color: gray;
    width: 150px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.big-photo
{
    border: solid #111111;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

textarea
{   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-comment
{
    border: solid #1c1c1d;
    background-color: #111111;
    text-align: justify;
    border-radius: 15px;
    display: flex;
    margin: auto;
    width: 300px;
    height: 100px;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

div p
{
    font-family: sans-serif;
    font-style: italic;
    text-align: center;

}

div h1
{
    font-family: Verdana;
    font-style: bold;
    text-align: center;
    background: -webkit-linear-gradient(rgb(209, 209, 209),   #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
